html, body {
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  height: 100%; }

.bg {
  width: 100%;
  height: 100%;
  background-color: blue; }

.land {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  .land .ground {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: green; }
  .land .pipes {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%; }

.ui {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  .ui .menu, .ui .getReady, .ui .gameover {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%; }
  .ui h1.textTitle {
    font-size: 40pt; }
  .ui .menuButtons button {
    background-color: black; }
  .ui .textTitle {
    position: absolute;
    top: 20%;
    text-align: middle; }
  .ui .getReady .score {
    background-color: orange; }
  .ui .getReady .tapInstructions {
    position: absolute;
    top: 40%; }
  .ui .gameOver .scoreArea {
    position: absolute;
    top: 40%;
    width: 50%;
    height: 30%;
    background-color: yellow; }
    .ui .gameOver .scoreArea .left {
      float: left; }
    .ui .gameOver .scoreArea .right {
      float: right; }
