html, body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', 'Ariel'; }

.container {
  width: 100%;
  height: 100%; }

.bg {
  width: 100%;
  height: 100%;
  background-color: blue; }

.land {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .land .frog {
    position: absolute;
    left: 33.3%;
    width: 5%;
    height: 9%;
    background-color: green; }
  .land .ground {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background-color: green; }
  .land .pipes {
    position: absolute;
    width: 100%;
    height: 80%; }
    .land .pipes .pipe {
      position: absolute;
      background-color: green;
      height: 100%;
      width: 5%; }

@-webkit-keyframes bobble {
  0% {
    margin-top: 0%; }

  50% {
    margin-top: 1%; }

  100% {
    margin-top: 0%; } }

.ui {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }
  .ui .menu, .ui .getReady, .ui .gameover {
    display: none;
    width: 100%; }
    .ui .menu .center, .ui .getReady .center, .ui .gameover .center {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%); }
  .ui h1.textTitle {
    font-size: 40pt; }
  .ui .menuButtons {
    position: absolute;
    bottom: 25%;
    left: 50%;
    width: 20%;
    margin-left: -10%;
    text-align: center; }
    .ui .menuButtons button {
      background-color: red; }
  .ui .textTitle {
    text-align: center; }
  .ui .menu .logo {
    -webkit-animation: 1300ms bobble infinite;
    -webkit-animation-timing-function: easeInOutSine; }
  .ui .getReady .score {
    text-align: center;
    background-color: orange; }
  .ui .getReady .tapInstructions {
    position: absolute;
    top: 40%; }
  .ui .gameOver .scoreArea {
    position: absolute;
    top: 40%;
    width: 50%;
    height: 30%;
    background-color: yellow; }
    .ui .gameOver .scoreArea .left {
      float: left; }
    .ui .gameOver .scoreArea .right {
      float: right; }

.frogImg {
  width: 5%;
  height: 5%; }
